:root {
  --color-clouds: #ecf0f1;
  --color-midnight-blue: #2c3e50;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  background-color: var(--color-clouds);
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: var(--color-clouds);
}

.controls {
  position: absolute;
  display: flex;

  bottom: 16px;
  left: 50%;

  height: 64px;
  background-color: var(--color-midnight-blue);
  border-radius: 32px;

  flex-direction: row;
  flex-shrink: 0;
  align-self: center;
  align-items: center;

  opacity: .6;
  transition: opacity .4s;
  transform: translate(-50%, 0);

  &:hover {
    opacity: 1;
  }

  .control {
    margin: 0 8px;
    color: var(--color-clouds);
    font-size: 48px;
    cursor: pointer;

    &#tick-interval {
      width: 200px;
      margin-right: 16px;

      &::-webkit-slider-runnable-track {
        height: 4px;
        background-color: var(--color-clouds);
        border: none;
        border-radius: 2px;
      }

      &::-webkit-slider-thumb {
        margin-top: -6px;
      }
    }
  }
}
